@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    @apply bg-[#1B1C26]
}
.stock::before
{
    content:"";
    height:1rem;
    width:1rem;
    background-color:orange;
    border-radius: 50%;
}
.btn-grp
{
    @apply border-2 border-gray-600 text-gray-400 p-2 text-2xl rounded-md hover:bg-blue-400 hover:text-white transition-all duration-300
}
.count-btn
{
    @apply p-2 text-xl
}
.product-img-slider::-webkit-scrollbar
{
    display: none;
}
.counter-btn
{
    @apply p-1 rounded-2xl
}